  <%= javascript_include_tag "angular.js" %>
  <%= javascript_include_tag "controllers.js" %>
  <%= javascript_include_tag "angular-resource.js" %>
  <%= javascript_include_tag "angular-route.js" %>
  <%= javascript_include_tag "autopairApp.js" %>
<h1>Hello world tadam</h1>
<div ng-view></div>